<link rel="stylesheet" href="/css/custom/footer.css">
     
       <div id='footer' class='row'>
            <div id='footer1' class='col-md-4'>
                <div id='logo'>
                  <img src="/images/logo.png" />
                </div>
                <div id="text1" class='text'>
                <p class='ms-4'>თავდაცვის <br /> სამინისტრო</p>
                </div>
            </div>

            <div id='footer2' class='col-md-5'>
              <div id="text2">
                <h4>ღონისძიებები: </h4>
                <p>25 მარ. სერჟანტთა აკადემიის დღე</p>
                <p>1 აპრ. თავდაცვის ძალების აღმოსავლეთის სარდლობის დღე</p>
                <p>22 აპრ. წვრთნებისა და სამხედრო განათლების მხარდამჭერი ცენტრი „კრწანისის“ დღე</p>
                <p>25 აპრ. ლოგისტიკის დღე</p>
              </div>
            </div>

            <div id='footer3' class='col-md-3'>
                <h4>პარტნიორები:</h4>
                <p>პარტნიორი1</p>
                <p>პარტნიორი2</p>
            </div>
       </div>
      
    

