<link rel="stylesheet" href="/css/custom/header.css">
<script src="/js/custom/header.js"></script>
  

<div id='header' class='row'>
    <div id='logo' class='col-md-1'>
     <a href="/pages/home.html"><img src='/images/logo.png' /></a>

    </div>

    <div id='title' class='col-md-1 fw-bold'>
        <p class='ms-4 mt-4'>საქართველოს <br /> თავდაცვის <br /> სამინისტრო</p>
        
    </div>

    <div class='col-md-10'>
        <div id='logos' class='row'>
            <div  class='col-md-4 ms-5 d-flex '>
             <div class='display-5 ms-3'><a href='#'><i class="fa-brands fa-square-youtube" style="color: #eb0505;"></i></a></div>
             <div class='display-5 ms-3'><a href='#'><i class="fa-brands fa-square-facebook" style='color: #006adb'></i></a></div>
             <div class='display-5 ms-3'><a href='#'><i class="fa-brands fa-square-twitter" style='color: #0e58d8'></i></a></div>
            </div>

            <div id='searchbox' class='col-md-7'>
                <!-- <input class='form-control mt-3'/> -->
                <!--<button class='icon' type='submit'><i class="fa-solid fa-magnifying-glass" area-hidden="true"></i></button> -->
                <div class="inner-addon right-addon mt-3">
                    <i class="glyphicon fa-solid fa-magnifying-glass"></i>
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>

        

        <div id='items' class='row'>
            <div class='col-md-12 d-flex'>
                <div class='me-3 fw-bold text-dark'>
                    <a href='/pages/public_information.html'>საჯარო ინფორმაცია</a>
                    <!-- <button type="button">საჯარო ინფორმაცია</button> -->
                </div>

                <div class='me-3 fw-bold text-dark'>
                    <a  href='/pages/Public_notices.html'>საჯარო შეტყობინებები</a>
                </div>

                <div class='me-3 fw-bold text-dark'>
                    <a href='/pages/health_insurance.html'>ჯანმრტელობის დაზღვევა</a>
                </div>

                <div class='me-3 fw-bold text-dark'>
                    <a href='/pages/Legalization_of_apartments.html'>ბინების დაკანონება</a>
                </div>

                <div class='me-3 fw-bold text-dark'>
                    <a href='/pages/Vacancies.html'>ვაკანსიები</a>
                </div>

                <div class='me-3 fw-bold text-dark'>
                    <a href='/pages/Tenders.html'>ტენდერები</a>
                </div>

                <div class='me-3 fw-bold text-dark'>
                    <a href='/pages/Frequently_Asked_Questions.html'>ხშირად დასმული კითხვები</a>
                </div>

                <div class='me-3 fw-bold text-dark'>
                    <a href='/pages/Contact.html'>კონტაკტი</a>
                </div>
                
            </div>
        </div>
    </div>

</div>